# Local development environment variables
DATABASE_URL=postgres://postgres:postgres@db:5432/pen_ts_boilerplate_db
NODE_ENV=development
PORT=3000
LOG_LEVEL=debug
WHITE_LIST_URLS=https://example.com,https://api.example.com,https://app.example.com
JWT_SECRET=my_super_secure_secret_that_is_32_chars_long


# Extra variables (will trigger warning)
UNUSED_VARIABLE=should_not_be_here
