# Local development environment variables
DATABASE_URL=postgres://postgres:postgres@db:5432/pen_ts_boilerplate_db
NODE_ENV=development
PORT=3000
LOG_LEVEL=debug
WHITE_LIST_URLS=https://example.com,https://api.example.com,https://app.example.com
JWT_SECRET=<your-jwt-secret-here>
JWT_EXPIRES_IN=7d
REFRESH_TOKEN_SECRET=<your-refresh-token-secret-here>
REFRESH_TOKEN_EXPIRES_IN=30d


# Extra variables (will trigger warning)
UNUSED_VARIABLE=should_not_be_here
